<div class="content">
    <div class="mat-typography">
        <div class="" role="document">
            <div class="modal-content">
                <div class="logo_of_page">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <img src="../../../assets/images/logo_white_background.jpg" alt="">
                    </h5>
                </div>
                <div class="modal-body">
                    <app-facebook-login></app-facebook-login>
                    <form action="" method="post" [formGroup]="loginForm">
                        <div class="form-group">
                            <div class="example-full-width">
                                <mat-form-field class="login-inp">
                                    <input matInput placeholder="Email" name="email" formControlName="email">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="example-full-width">
                                <mat-form-field class="login-inp">
                                    <input matInput type="password" placeholder="Password" name="password"
                                           formControlName="password">
                                </mat-form-field>
                            </div>
                        </div>
                        <button class="login" (click)="login()">Login</button>
                        <a href="#" class="forgot_pass">Forgot Password?</a>
                    </form>
                    <div class="have_account">
                        <button class="dont_have_account">Don’t have an
                            account yet?
                        </button>
                        <a routerLink="/register" class="yourButton">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
