<div class="header">
    <div class="row">
        <div class="page_logo">
            <img src="../../../../assets/images/logo_white_background.jpg" alt="">

        </div>
        <div class="authContainer">

            <!-- Logout link for authenticated users -->
            <div *ngIf="auth.loggedIn(); else nonAuthBlock">
                <p (click)="logout()">Logout</p>
            </div>

            <!-- Non-authenticated user links -->
            <ng-template #nonAuthBlock>
                <p (click)="router.navigate(['auth/login'])">Log in</p>
                <p (click)="router.navigate(['auth/register'])" [hidden]="true">Register</p>
            </ng-template>
        </div>
    </div>
</div>
