@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// regular style toast
@import '~ngx-toastr/toastr';

.toast-success.ngx-toastr.ng-trigger.ng-trigger-flyInOut {
  width: auto !important;
  min-width: auto;
}

.toast-success.ngx-toastr.ng-trigger.ng-trigger-flyInOut .toast-message {
  width: auto !important;
  min-width: auto;
}


@font-face {
  font-family: 'Lato-Regular';
  src: url('/assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('/assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-Black';
  src: url('/assets/fonts/Lato/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('/assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Semi-Bold';
  src: url('/assets/fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
  font-family: 'OpenSans_Regular';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'BrandonText-Regular';
  src: url("/assets/fonts/HVD Fonts - BrandonText-Regular.otf");
}

@font-face {
  font-family: 'BrandonText-RegularItalic';
  src: url("/assets/fonts/HVD Fonts - BrandonText-RegularItalic.otf");
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: url("/assets/fonts/HVD Fonts - BrandonText-Bold.otf");
}

span, p {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: 1.4px;
  text-align: left;
}

.content {
  width: 87%;
  margin: 0 auto;
}

.mat-form-field-label-wrapper {
  top: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.mat-form-field-label {
  padding: 0 10px;
  overflow: visible;
  font-size: 15px !important;
  color: #727377;
  font-family: 'BrandonText-Regular', sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1.5;
  cursor: pointer;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateY(-1.28125em) scale(.75) perspective(100px) translateZ(.001px);
  transform: translateY(-0.28125em) scale(0.65) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-1.28125em) scale(.75);
  width: 133.33333%;
  padding-left: 21px;
}

table.mat-elevation-z8.mat-table {
  width: 100%
}

.search_box {
  margin: 20px 0 50px;

  .mat-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 76%;
    overflow: hidden;
    pointer-events: none;
    border: 1px solid lightgray;
    border-radius: 10px;
  }

  .mat-input-element.mat-form-field-autofill-control {
    padding-left: 15px;
    padding-top: 10px;
  }

  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    display: none;
  }
}

.posts_table {
  .mat-select {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    border: 1px solid lightgray;
    border-radius: 10px;
  }

  .mat-select-trigger {
    padding: 10px;
  }
}
