.allFerryContent {
  width: 71%;
  margin: 0 auto;
  display: block;
  //float: right;
  //margin-right: 9%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {

}

.flex_container {
  display: flex;
}

.tableContainer{

}

.table_responsive {
  overflow-x: auto;

  table {
    td {
      padding: 0 24px;
    }
  }
}

@media screen and (max-width: 880px) {
  .allFerryContent {
    //width: 67%;
    //display: inline-block;
    //margin-left: 3%;
    //margin-right: 3%;
  }
}
@media(max-width: 767px){
  .allFerryContent {
    width: 100%;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
}
