<div class="mainContent allFerryContent">

    <div class="tableContainer">
        <mat-form-field *ngIf="dataSource">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <div class="mat-elevation-z8">

            <div class="table_responsive">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container *ngFor="let col of displayedColumns">

                        <!-- Regular columns-->
                        <ng-container [matColumnDef]="col" *ngIf="col!='actions'">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{normalizeColName(col)}}</th>
                            <td mat-cell *matCellDef="let row">
                                <span *ngIf="col!='tours_type' && col!='partner_type' && col!='company'">{{row[col]}}</span>

                                <!-- Tours type column-->
                                <ng-container *ngIf="col=='tours_type'">
                                    <span *ngIf="row[col]">{{row[col]['tour_name']}}</span>
                                </ng-container>
                                <ng-container *ngIf="col==='partner_type' || col==='company'">
                                    <span *ngIf="row[col]">{{row[col]['name']}}</span>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- Action column -->
                        <ng-container matColumnDef="actions" class="actions" *ngIf="col=='actions'">
                            <th mat-header-cell *matHeaderCellDef> Actions</th>
                            <td mat-cell *matCellDef="let row">
                                <div class="flex_container">

                                    <button class="assignBtn" [matTooltip]="'Assign ferry'"
                                            *ngIf="row.partner_type && row.partner_type.name==='Ferries'">
                                        <i class="fa fa-anchor"
                                           (click)="router.navigate([(auth.checkRoles('admin')?'admin/':'partners/')+'employees/jobs/assign',{cat:'ferries',user:row.id}])"></i>
                                    </button>

                                    <button class="editBtn" [matTooltip]="'Edit'"
                                            (click)="router.navigate([auth.checkRoles('admin')?'admin/'+item+'/'+row.id:'partners/'+item+'/'+row.id],{state:{id:row.id}})">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button class="removeBtn" [matTooltip]="'Remove'" (click)="remove(row)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
            </div>


            <div class="no_table_items_found">
                <small *ngIf="(filteredData && filteredData.length ===0)">No items found</small>
            </div>
            <mat-paginator [pageSizeOptions]="paginationValues"
                           [hidden]="!dataSource"></mat-paginator>
        </div>

        <small *ngIf="!dataSource" class="no_data">
            <span class="item">{{item}}</span> data is not loaded
        </small>
    </div>
</div>
